.trending-carousel .owl-stage {
    margin: auto;
}

.product-media a.product-image {
    height: 375px;
    background-position: center !important;
    background-size: cover !important;
}
.product-media  a.product-image-hover {
    height: 375px;
    background-position: center !important;
    background-size: cover !important;
}

.product.product-7 .product-title {
    width: 90%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.intro-slide .intro-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 3rem;
}
.blog-posts .owl-stage {
    margin: auto;
}
.category-card-img {
    background-position: center !important;
    background-size: cover !important;
    height: 380px;
}
.product-body .product-nav-thumbs a {
    width: 50px;
    height: 50px;
    background-position: center !important;
    background-size: contain !important;
}

.product-nav .owl-stage {
    margin: auto;
}
.payment-logo {
    width: 10%;
}
.social-link {
    word-spacing: 1rem;
}
.invalid-feedback {
    font-size: 100%;
}
