.trending-carousel .owl-stage {
    margin: auto;
}

.product-media a.product-image {
    height: 375px;
    background-position: center !important;
    background-size: cover !important;
}
.product-media a.product-image-hover {
    height: 375px;
    background-position: center !important;
    background-size: cover !important;
}

.product.product-7 .product-title {
    width: 90%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.intro-slide .intro-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 3rem;
}
.blog-posts .owl-stage {
    margin: auto;
}
.category-card-img {
    background-position: center !important;
    background-size: cover !important;
    height: 380px;
}
.bg-overlay {
    position: absolute;
    background: #575757;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.6;
}
.product-body .product-nav-thumbs a {
    width: 50px;
    height: 50px;
    background-position: center !important;
    background-size: contain !important;
}

.product-nav .owl-stage {
    margin: auto;
}
.payment-logo {
    width: 10%;
}
.social-link {
    word-spacing: 1rem;
}
.invalid-feedback {
    font-size: 100%;
}
.product-media .btn-product:hover span,
.product-media .btn-product:focus span {
    color: white !important;
}
.order-footer-action {
    min-height: 100px;
    background: #fffefb;
    font-size: 2em;
    line-height: 3.5em;
}
.order-card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.btn-light {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.cancel-warning-box {
    background-color: #fffdf8;
    border: 1px solid rgba(255, 174, 4, 0.3);
    font-size: 1.5em;
}
.cancel-warning-box .icon-wrapper {
    width: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffae04;
}

.cancel-warning-box .description > p {
    padding: 1rem;
    font-weight: 500;
}
.cancel-reason-group {
    padding-top: 1rem;
    padding-left: 3rem;
}
.cancel-reason-group .custom-radio {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.cancel-reason-group .custom-radio label {
    font-weight: 500;
}

.radio-container {
    display: inline-block;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container > input[type="radio"] + label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    width: fit-content;
    padding: 1rem;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.radio-container > input[type="radio"] + label.img-contain-label {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-position: center !important;
}

.radio-container > input[type="radio"]:checked + label {
    border-color: #c96;
    color: #c96;
}
.radio-container > input[type="radio"]:checked + label.img-contain-label {
    scale: 1.1;
}
.radio-container > input[type="radio"] + label:hover {
    box-shadow: 0 0 10px lightgray;
    color: #c96;
    border-color: #c96;
}
.product-detail-label {
    color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 12rem;
    padding-right: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.label {
    font-weight: 400;
}
.svg-right-arrow-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
.product-detail-content {
    font-size: 1.2rem;
    font-weight: 500;
}
.product-detail-info-wrapper {
    line-height: 3.5em;
}
.show-detail-order {
    cursor: pointer;
}
/* #timeline */
.stepper {
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: nowrap;
    display: flex;
}
.stepper__step {
    width: 140px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 1;
}

.stepper__step-icon {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.875rem;
    border: 4px solid #e0e0e0;
    color: #e0e0e0;
    background-color: #fff;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s,
        border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s,
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s;
}

.stepper__step-icon--finish {
    border-color: #2dc258;
    color: #2dc258;
}

.stepper__step-text {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.25rem;
    margin: 1.25rem 0 0.25rem;
}

.stepper__step-date {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.26);
    height: 0.875rem;
}
.stepper__line {
    position: absolute;
    top: 29px;
    height: 4px;
    width: 100%;
}

.stepper__line-background,
.stepper__line-foreground {
    position: absolute;
    width: calc(100% - 140px);
    margin: 0 70px;
    height: 100%;
    box-sizing: border-box;
}

.stepper__line-foreground {
    background: #2dc258;
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.stepper__line-background,
.stepper__line-foreground {
    position: absolute;
    width: calc(100% - 140px);
    margin: 0 70px;
    height: 100%;
    box-sizing: border-box;
}
.order-header {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
}
.border-color-gradient {
    height: 0.1875rem;
    width: 100%;
    background-position-x: -1.875rem;
    background-size: 7.25rem 0.1875rem;
    background-image: repeating-linear-gradient(
        45deg,
        #6fa6d6,
        #6fa6d6 33px,
        transparent 0,
        transparent 41px,
        #f18d9b 0,
        #f18d9b 74px,
        transparent 0,
        transparent 82px
    );
}
.shipping-address-label {
    padding: 0 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.shipping-address-service-info {
    max-width: 50%;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.54);
}
.customer-address-info {
    max-width: 100%;
    padding: 10px 24px 0 0;
    line-height: 22px;
    flex: 1;
}
.customer-address-name {
    max-width: 100%;
    margin: 0 0 7px;
    overflow: hidden;
    font-size: 1.4em;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.8);
}
.customer-detail-address {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}
.shipping-order-history-wrapper {
    width: 620px;
    padding: 4px 0 0 12px;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.shipping-order-history-row {
    line-height: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0;
    grid-gap: 12px;
    gap: 12px;
}
.history-line {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 12px;
    left: 12px;
    background: #d8d8d8;
}
.last-row .shipping-order-history-content,
.last-row .shipping-order-history-status {
    color: #26aa99;
}
.shipping-order-history-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.shipping-order-history-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    border-radius: 50%;
    background: grey;
    width: 12px;
    min-width: 12px;
    margin-top: 3px;
    margin-left: 6px;
    z-index: 1;
}

.last-row .shipping-order-history-icon {
    background: #26aa99;
}

.shipping-order-history-time {
    width: 120px;
    margin-top: 3px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 12px;
    width: fit-content;
    vertical-align: text-top;
}
.shipping-order-history-status {
    font-weight: 700;
    margin-bottom: -2px;
}
.shipping-order-history-description p {
    word-wrap: break-word;
    line-height: 20px;
    margin: 1px 0 8px;
}
.order-detail-action-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fffcf5;
    border-top: 1px dotted rgba(0, 0, 0, 0.09);
    padding: 1rem;
}
@media screen and (max-width: 768px) {
    .product-media a.product-image {
        height: 30vh;
    }
}

.product-detail-content a {
    line-height: 1.2rem;
}
.social-link i {
    width: 10%;
    display: inline-block;
}
.social-link svg {
    width: 1rem;
}
.btn-product-icon.on-wishlist {
    color: #fff !important;
    background-color: #c96 !important;
}
.custom-checkbox:checked {
    accent-color: indianred;
}
.summary-title div {
    border-left: 2px solid #333;
    text-transform: uppercase;
    font-weight: bold;
}
.payment-method-row {
    line-height: 3rem;
}
.product-video-item {
    cursor: pointer;
}

.voucher-radio .custom-control-label {
    height: 12vh;
    border: 0.0625rem solid transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
    border-left: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    margin: 0 !important;
}

.voucher-radio .custom-control-label::before {
    border-radius: 50%;
    top: 50% !important;
    transform: translate(0, -50%);
    left: 96%;
}
.voucher-radio .custom-control-label::after {
    top: 50% !important;
    left: 96.9% !important;
    transform: translate(0, -50%);
}
.voucher-radio .voucher-label-disabled {
    opacity: 0.4;
}

.voucher-radio {
    padding: 0 !important;
}
.voucher-type-label {
    width: 21%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-left-style: dashed;
    margin-right: 1rem;
}
.order-voucher-label {
    background: #ee4d2d;
}
.shipping-voucher-label {
    background: #00bfa5;
}
.voucher-name {
    font-weight: 600;
}
.voucher-description {
    margin-top: 0.875rem;
    padding: 2px;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
}
.order-payment-info td {
    font-size: 1.35rem;
    border: none !important;
    height: 3rem !important;
}
.order-voucher-discount-tag {
    position: relative;
}
.order-voucher-discount-tag svg {
    position: absolute;
    width: 100%;
}
.order-voucher-discount-tag span {
    color: rgb(249, 58, 58);
    font-size: 1.3rem;
    padding: 1rem;
}
.justify-content-center {
    justify-content: center;
}
.error {
    color: red;
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toolbox-center .search-wrapper-wide {
    font-size: 2.5rem;
    color: #666;
}
.toolbox-center input[type="search"] {
    color: #666;
    border: none;
}
.new-promotion {
    color: #c96;
    padding-left: 0.5rem;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
.size-rule-gallery {
    height: 50px;
    width: 50px;
    background-size: cover !important;
    background-position: center !important;
    display: inline-block;
}
#size-guide-gallery {
    font-size: 1.3rem;
}
.check-cart-item {
    width: 20px !important;
}

.order-lg-first {
    display: none;
}
.toolbox-info {
    font-size: 1.3em;
}
.header-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}
.add-to-cart-btn {
    width: 100%;
    max-width: none !important;
}
.btn-product:hover span {
    color: white !important;
}
@media (min-width: 991px) {
    .order-lg-first {
        display: block;
    }
}
