:root {
    --swiper-theme-color: #c96 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ce8031;
    border-color: #ce8031;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.trending-carousel .owl-stage {
    margin: auto;
}

.product-media a.product-image {
    height: 375px;
    background-position: center !important;
    background-size: cover !important;
}

.product-media a.product-image-hover {
    height: 375px;
    background-position: center !important;
    background-size: cover !important;
}

.product.product-7 .product-title {
    width: 90%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.intro-slide .intro-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 3rem;
}

.blog-posts .owl-stage {
    margin: auto;
}

.category-card-img {
    background-position: center !important;
    background-size: cover !important;
    height: 380px;
}

.bg-overlay {
    position: absolute;
    background: #575757;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.6;
}

.product-body .product-nav-thumbs a {
    width: 50px;
    height: 50px;
    background-position: center !important;
    background-size: contain !important;
}

.product-nav .owl-stage {
    margin: auto;
}

.payment-logo {
    width: 10%;
}

.social-link {
    word-spacing: 1rem;
}

.invalid-feedback {
    font-size: 100%;
}

.product-media .btn-product:hover span,
.product-media .btn-product:focus span {
    color: white !important;
}

.btn-product.btn-cart[disabled] {
    pointer-events: none;
}

.order-footer-action {
    min-height: 100px;
    background: #fffefb;
    font-size: 2em;
    line-height: 3.5em;
}

.order-card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.btn-light {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.cancel-warning-box {
    background-color: #fffdf8;
    border: 1px solid rgba(255, 174, 4, 0.3);
    font-size: 1.5em;
}

.cancel-warning-box .icon-wrapper {
    width: 20%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffae04;
}

.cancel-warning-box .description>p {
    padding: 1rem;
    font-weight: 500;
}

.cancel-reason-group {
    padding-top: 1rem;
    padding-left: 3rem;
}

.cancel-reason-group .custom-radio {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cancel-reason-group .custom-radio label {
    font-weight: 500;
}

.radio-container {
    display: inline-block;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container>input[type="radio"]+.inventory-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    width: fit-content;
    padding: 1rem;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.radio-container>input[type="radio"]+.inventory-picker a {
    display: block;
    width: 100%;
    color: #333;
}

.radio-container>input[type="radio"]+.inventory-picker.img-contain-label {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-position: center !important;
}

.radio-container>input[type="radio"]:checked+.inventory-picker,
.radio-container>input[type="radio"]:checked+.inventory-picker a {
    border-color: #c96;
    color: #c96;
}

.radio-container>input[type="radio"]:checked+.inventory-picker.img-contain-label {
    scale: 1.1;
}

.radio-container>input[type="radio"]+.inventory-picker:hover {
    box-shadow: 0 0 10px lightgray;
    color: #c96;
    border-color: #c96;
}

.product-detail-label {
    color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 12rem;
    padding-right: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.label {
    font-weight: 400;
}

.svg-right-arrow-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

.product-detail-content {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-detail-info-wrapper {
    line-height: 3.5em;
}

.show-detail-order {
    cursor: pointer;
}

/* #timeline */
.order-details-timeline .stepper {
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: nowrap;
    display: none;
}

.stepper__step {
    width: 140px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 1;
}

.stepper__step-icon {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.875rem;
    border: 4px solid #e0e0e0;
    color: #e0e0e0;
    background-color: #fff;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s,
        border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s,
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.7s;
}

.stepper__step-icon--finish {
    border-color: #2dc258;
    color: #2dc258;
}

.stepper__step-text {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.25rem;
    margin: 1.25rem 0 0.25rem;
}

.stepper__step-date {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.26);
    height: 0.875rem;
}

.stepper__line {
    position: absolute;
    top: 29px;
    height: 4px;
    width: 100%;
}

.stepper__line-background,
.stepper__line-foreground {
    position: absolute;
    width: calc(100% - 140px);
    margin: 0 70px;
    height: 100%;
    box-sizing: border-box;
}

.stepper__line-foreground {
    background: #2dc258;
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.stepper__line-background,
.stepper__line-foreground {
    position: absolute;
    width: calc(100% - 140px);
    margin: 0 70px;
    height: 100%;
    box-sizing: border-box;
}

.order-header {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
}

.border-color-gradient {
    height: 0.1875rem;
    width: 100%;
    background-position-x: -1.875rem;
    background-size: 7.25rem 0.1875rem;
    background-image: repeating-linear-gradient(45deg,
            #6fa6d6,
            #6fa6d6 33px,
            transparent 0,
            transparent 41px,
            #f18d9b 0,
            #f18d9b 74px,
            transparent 0,
            transparent 82px);
}

.shipping-address-label {
    padding: 0 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.shipping-address-service-info {
    max-width: 50%;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.54);
}

.customer-address-info {
    max-width: 100%;
    padding: 10px 24px 0 0;
    line-height: 22px;
    flex: 1;
}

.customer-address-name {
    max-width: 100%;
    margin: 0 0 7px;
    overflow: hidden;
    font-size: 1.4em;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.8);
}

.customer-detail-address {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.shipping-order-history-wrapper {
    width: 620px;
    padding: 4px 0 0 12px;
    border-left: none;
    padding-left: 0;
}

.shipping-order-history-row {
    line-height: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 0;
    grid-gap: 12px;
    gap: 12px;
}

.history-line {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 12px;
    left: 12px;
    background: #d8d8d8;
}

.last-row .shipping-order-history-content,
.last-row .shipping-order-history-status {
    color: #26aa99;
}

.shipping-order-history-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.shipping-info {
    display: flex;
    flex-direction: column;
}

.shipping-order-history-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
    border-radius: 50%;
    background: grey;
    width: 12px;
    min-width: 12px;
    margin-top: 3px;
    margin-left: 6px;
    z-index: 1;
}

.last-row .shipping-order-history-icon {
    background: #26aa99;
}

.shipping-order-history-time {
    width: 120px;
    margin-top: 3px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 12px;
    width: fit-content;
    vertical-align: text-top;
}

.shipping-order-history-status {
    font-weight: 700;
    margin-bottom: -2px;
}

.shipping-order-history-description p {
    word-wrap: break-word;
    line-height: 20px;
    margin: 1px 0 8px;
}

.order-detail-action-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fffcf5;
    border-top: 1px dotted rgba(0, 0, 0, 0.09);
    padding: 1rem;
}

.product-detail-content a {
    line-height: 1.2rem;
}

.social-link i {
    width: 10%;
    display: inline-block;
}

.social-link svg {
    width: 1rem;
}

.btn-product-icon.on-wishlist {
    color: #fff !important;
    background-color: #c96 !important;
}

.custom-checkbox:checked {
    accent-color: indianred;
}

.summary-title div {
    border-left: 2px solid #333;
    text-transform: uppercase;
    font-weight: bold;
}

.payment-method-row {
    line-height: 3rem;
}

.product-video-item {
    cursor: pointer;
}

.voucher-radio .custom-control-label {
    height: 12vh;
    border: 0.0625rem solid transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
    border-left: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    margin: 0 !important;
}

.voucher-radio .custom-control-label::before {
    border-radius: 50%;
    top: 50% !important;
    transform: translate(0, -50%);
    left: 94%;
}

.voucher-radio .custom-control-label::after {
    top: 50% !important;
    left: calc(94% + 5px) !important;
    transform: translate(0, -50%);
}

.voucher-radio .voucher-label-disabled {
    opacity: 0.4;
}

.voucher-radio {
    padding: 0 !important;
}

.voucher-type-label {
    width: 21%;
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-left-style: dashed;
    margin-right: 1rem;
}

.order-voucher-label {
    background: #c96;
}

.shipping-voucher-label {
    background: #00bfa5;
}

.voucher-name {
    font-weight: 600;
}

.voucher-description {
    margin-top: 0.875rem;
    padding: 2px;
    color: #c96;
    border: 1px solid #c96;
    border-radius: 4px;
}

.order-payment-info td {
    font-size: 1.35rem;
    border: none !important;
    height: 3rem !important;
}

.order-voucher-discount-tag {
    position: relative;
}

.order-voucher-discount-tag svg {
    position: absolute;
    width: 100%;
}

.order-voucher-discount-tag span {
    color: rgb(249, 58, 58);
    font-size: 1.3rem;
    padding: 1rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.error {
    color: red;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toolbox-center .search-wrapper-wide {
    font-size: 2.5rem;
    color: #666;
}

.toolbox-center input[type="search"] {
    color: #666;
    border: none;
}

.new-promotion {
    color: #c96;
    padding-left: 0.5rem;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.size-rule-gallery {
    height: 50px;
    width: 50px;
    background-size: cover !important;
    background-position: center !important;
    display: inline-block;
}

#size-guide-gallery {
    font-size: 1.3rem;
}

.check-cart-item {
    width: 20px !important;
}

.order-lg-first {
    display: none;
}

.toolbox-info {
    font-size: 1.3em;
}

.header-sticky {
    position: sticky;
    top: -1px;
    z-index: 10;
}

.add-to-cart-btn {
    width: 100%;
    max-width: none !important;
}

.btn-product:hover span {
    color: white !important;
}

.address-row {
    border-bottom: 1px solid #ebebeb
}

.white-popup {
    width: 50%;
    margin: auto;
    background: white;
    width: 576px;
    max-width: 100%;
    max-height: 90vh;
    overflow: scroll;
    padding: 2rem;
    min-height: 60vh;
}

.quickView-content .product-title {
    margin-top: 2rem;
    font-weight: bold;
}

.product-right .owl-carousel img {
    width: auto !important;
    margin: auto;
}

.intro-slider-container,
.intro-slide {
    background-color: #f3f3f3;
}

.product-left {
    max-height: 400px;
}

.page-content-table thead tr th {
    font-size: 1.5em;
}

.page-content-table thead tr th {
    padding: 12px 0;
}

.page-content-table tbody tr td {
    font-size: 1.3em;
    padding: 2rem 5px;
    color: black;
    vertical-align: center;
}

.page-content-table tbody tr td.row-title {
    font-weight: bold;
    text-transform: uppercase;
    width: 20%;
    text-align: center;
}

.page-content-table ul {
    list-style-position: inside;
}

.page-content-table ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.page-title {
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-title {
    color: #c96;
    font-weight: bold;
    text-transform: uppercase;
}

.section-content p {
    color: black !important;
}

.section-content {
    color: black;
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 72px;
}

.section-content ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.autocomplete-items {
    font-size: 1em;
    position: absolute;
    top: 105%;
    z-index: 11;
    background: white;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    max-height: 400px;
    left: 1%;
    overflow-y: scroll;
}

.mobile-menu-wrapper .autocomplete-items {
    left: 2rem;
    top: 100%;
}

.autocomplete-items div {
    font-size: 14px;
    padding: 0.3em 0.5em;
}

.autocomplete-items img {
    width: 50px;
}

.autocomplete-items a {
    color: black;
    padding: 0.5rem 1rem;
}

.autocomplete-items a:hover {

    background-color: #f3f3f3;
}

.autocomplete-items a>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.autocomplete-items .product-search-info {
    line-height: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.autocomplete-items .product-price {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.autocomplete-view-more {
    position: sticky;
    bottom: 0;
    font-size: 14px;
    width: 100%;
    background: white;
}

.header-search .autocomplete-items {
    z-index: 13;
}

.header-search-wrapper .spinner-border {
    font-size: 1rem;
    align-self: center;
}

.search-wrapper-wide {
    padding: 0 2rem 0 1rem;
    border: 1px solid #d4d4d4;
    transition: all 0.3s ease;
}

.search-wrapper-wide:hover {
    border-color: #c96;
}

.toolbox-center {
    width: 100%;
    margin-top: 1rem;
}

.tooltip>.tooltip-inner {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%), 0 8px 16px 0 rgb(0 0 0 / 6%);
}

.bs-tooltip-top .arrow::before {
    border-top-color: #fff !important;
}

.input-spinner {
    font-weight: bold;
}

.quickView-content .details-action-wrapper .btn-product:hover span {
    color: #c96 !important;
}

.mobile-search .autocomplete-items {
    width: calc(100% - 4rem);
    margin-top: 2px;
}

.mobile-search button {
    height: 36px;
}

.toolbox {
    padding: 0 1rem;
}

.inventory-picker[disabled] {
    box-shadow: unset;
    cursor: default;
    pointer-events: none;
    border-color: lightgrey !important;
    color: lightgrey !important;
}

.inventory-picker[disabled] a {
    color: lightgrey !important;
}


.auth-dropdown-menu>div>a:hover {
    background: #f3f3f3;
    color: #c96;
}

.auth-dropdown-menu .btn {
    border-radius: 0;
    border: 0;
}

.auth-dropdown-menu>div>form:hover button {
    background: #f3f3f3;
    color: #c96;
}

#sticky-gift-icon {
    background: none;
    border-radius: 60px;
    bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;
    display: block;
    height: 60px;
    margin: 0px 12px;
    overflow: visible;
    padding: 0px;
    position: fixed;
    right: 12px;
    top: auto;
    width: 60px;
    z-index: 9;
    background: #ffffff;
    cursor: pointer;
}

#number-of-voucher {
    position: absolute;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
    background: red;
    justify-content: center;
    color: white;
    border-radius: 50%;
    top: 25%;
    right: 15%;
    z-index: 9;
}

#sticky-gift-icon.active {
    animation-name: col;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#sticky-gift-icon.active .my-btn-border {
    animation-name: bord-pop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#sticky-gift-icon.active .btn-bell {
    animation-name: bell-ring;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.my-btn-border {
    height: 59px;
    width: 59px;
    border: 1px solid #ffffff !important;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
    border-radius: 60px;
}

.btn-bell {
    color: white;
    font-size: 20px;
    position: absolute;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes bord-pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.9);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.9);
        opacity: 0;
    }
}

@keyframes col {
    0% {
        transform: scale(1) translate(0, 0);
    }

    10% {
        transform: scale(1.1) translate(0, 0);
    }

    75% {
        transform: scale(1) translate(0, 0);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

@keyframes bell-ring {
    0% {
        transform: translate(-50%, -50%);
    }

    5%,
    15% {
        transform: translate(-50%, -50%) rotate(25deg);
    }

    10%,
    20% {
        transform: translate(-50%, -50%) rotate(-25deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.newsletter-popup-container .mfp-close {
    top: -10px;
    right: -10px;
    opacity: 1;
}

.voucher-popup {
    width: 387px !important;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.voucher-popup>div:first-child {
    background-color: #fff;
    border-radius: 10px;
}

#close-no-reopen {
    color: white;
    font-size: 10px;
    font-size: italic;
    cursor: pointer;
}

.newsletter-popup-content {
    border-radius: 10px;
}

.voucher-info {
    padding: 1rem;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

.voucher-info .voucher-tag {
    background: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.voucher-info .voucher-circle-left {
    border: none;
    width: 15px;
    height: 15px;
    background: rgba(222, 94, 0, 1);
    position: absolute;
    border-radius: 50%;
    bottom: 34px;
    left: -8px;
}

.voucher-info .voucher-discount-info {
    font-weight: bold;
    color: #c96;
    text-transform: uppercase;
}

.voucher-info .voucher-circle-right {
    border: none;
    width: 15px;
    height: 15px;
    background: rgba(252, 141, 8, 1);
    position: absolute;
    border-radius: 50%;
    bottom: 34px;
    right: -8px;
}

.voucher-info .voucher-tag div {
    font-size: 14px;
}

.voucher-popup .congrats-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1rem 2rem 2rem;
}


.voucher-popup .congrats-content button {
    border-radius: 60px;
}

.voucher-popup .owl-theme.owl-nav-inside .owl-nav .owl-prev {
    left: -50px;
}

.voucher-popup .owl-theme.owl-nav-inside .owl-nav .owl-next {
    right: -50px;
}

.voucher-popup .owl-dots {
    display: none;
}

.voucher-popup small {
    font-size: 10px;
}

.voucher-info-wrapper {
    border-radius: 5px;
}

.voucher-container {
    background-clip: padding-box;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    display: flex;
    overflow: hidden;
    height: 110px;
    width: 100%;
}

#close-voucher-list-btn {
    margin-bottom: 1rem;
    cursor: pointer;
}

.voucher-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    min-width: 100px;
    justify-content: center;
}

.voucher-title svg {
    height: 50px;
    width: 50px;
}

.voucher-title span {
    color: #fff;
    padding-left: 1rem;
}

.voucher-content {
    background-color: white;
}

.voucher-splitter {
    min-width: 1px;
    background: repeating-linear-gradient(#e5e5e5, #e5e5e5 5px, transparent 0, transparent 10px);
    position: relative;
}

.ftail-info {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.voucher-discount-value {
    font-size: 18px;
    color: #c96;
    text-transform: uppercase;
    font-weight: bold;
}

.voucher-detail-info {
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.voucher-detail-left {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.voucher-detail-left p {
    font-size: 13px;
    color: #000;
}

.voucher-detail-left:not(h1) {
    font-size: 13px;
}

.voucher-detail-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
}

.voucher-detail-right button {
    min-width: fit-content;
    font-size: 13px;
    padding: 7px 10px;
}

#save-voucher-component-wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
    background: white;
    display: flex;
    align-items: center;
    height: fit-content;
    z-index: 10;
    padding: 1rem;
    flex-direction: column;
    overflow-y: auto;
    transition: all 0.3s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 40vh;
    opacity: 1;
}

#save-voucher-component-wrapper.hide {
    bottom: 0%;
    height: 0 !important;
    min-height: 0;
    opacity: 0 !important;
}

.desktop-cart-table {
    display: none !important;
}

.mobile-cart-table .product-col {
    display: flex;
    flex-direction: row;
}

.cart-product .product-media {
    min-width: 50px;
}

.desktop-banner-slider {
    display: none;
}

.fb_dialog {
    z-index: 10 !important;
}

#fb-root iframe {
    z-index: 10 !important;
}

.filter-item a {
    font-size: 14px;
}

.filter-item a:not(:hover) {
    color: black;
}

.filter-item a.active {
    color: #c96;
}

.add-to-wishlist-wrapper {
    margin-top: 2rem;
}

#customer-rank-icon {
    width: 20px;
    position: absolute;
    top: -100%;
}

#order-type-tab {
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100%;
    border-bottom: 0;
}

#order-type-tab::-webkit-scrollbar {
    display: none;
}

#order-type-tab .nav-item {
    display: inline-block;
}

#order-type-tab .nav-item .nav-link {
    font-size: 12px;
    padding: 0.2rem 1rem;
}

.order-row .order-product-title {
    font-size: 1.7em;
}

@media (min-width: 991px) {
    .order-lg-first {
        display: block;
    }

    .add-to-wishlist-wrapper {
        margin-top: 0;
    }

    .desktop-cart-table {
        display: block !important;
    }

    .mobile-cart-table {
        display: none;
    }

    .btn-product.btn-wishlist {
        padding-left: 1rem;
    }
}

#confirmOrderModal span {
    font-size: 10px;
    font-weight: bold;
    color: #2c2a2a;
}

#confirmOrderModal .confirm-label {
    color: #bebebe;
}

#confirmOrderModal .confirm-info {
    color: #2c2a2a;
}

.order-item-detail {
    font-size: 14px;
}

.voucher-condition-detail {
    height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease;
}

.voucher-condition-detail.show {
    height: 300px;
    margin-top: 1rem;
}

.voucher-condition-detail .voucher-condition-info-group {
    display: flex;
    flex-direction: column;
}

.voucher-condition-detail .voucher-condition-info-group .info-label {
    font-weight: bold;
    font-size: 13px;
}

.voucher-condition-detail .voucher-condition-info-group .info-content {
    font-size: 13px;
}

.box-shadow {
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, .07)
}

.summary-cart span {
    font-size: 14px;
    font-weight: lighter;
}

.tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags li,
.tags a {
    float: left;
    height: 26px;
    line-height: 24px;
    position: relative;
    font-size: 14px;
}

.tags a {
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #c96;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 11px;
}

.tags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #c96 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 14px 0;
}

.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}

.voucher-selector {
    transition: 0.3s ease all;
}

.cursor-pointer {
    cursor: pointer;
}

.text-line-through {
    text-decoration: line-through;
}

.notify__title {
    font-size: 15px !important;
}

.notify__text {
    font-size: 14px !important;
}

.timeline__row {
    display: flex;
    position: relative;
}

.timeline__row_icon {
    width: 30px;
    margin-right: 20px;
    z-index: 1;
}

.timeline__row_content {
    width: calc(100% - 30px);
    margin-bottom: 20px;
}

.timeline__row_content .badge {
    margin-bottom: 10px;
}

.timeline__row:nth-last-child(1) .timeline__row_content {
    border: none;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.timeline__row:nth-last-child(1):before {
    height: 0;
}

.timeline__row:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 15px;
    background: #d5d5d5;
}

.timeline .timeline-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #fff;
    font-size: 1.3em;
}

.timeline .timeline-icon.success {
    color: #4caf50;
    border-color: #4caf50;
}

.timeline .timeline-icon.warning {
    color: #ff9800;
    border-color: #ff9800;
}

.timeline .timeline-icon.danger {
    color: #f44336;
    border-color: #f44336;
}

.order-history-phone {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.order-history-phone ul {
    list-style: disc;
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .product-media a.product-image {
        height: 30vh;
    }
}

@media screen and (max-width: 575px) {
    .quickView-content .product-left .carousel-dot.active img {
        height: 100%;
        width: auto !important;
        max-width: none !important;
    }
}

@media screen and (min-width: 768px) {
    .voucher-title {
        width: 28%;
    }

    .order-history-phone {
        display: none;
    }

    .voucher-selector:hover {}

    #confirmOrderModal span {
        font-size: 12px;
    }

    #order-type-tab .nav-item .nav-link {
        font-size: 14px;
    }

    .shipping-info {
        display: flex;
        flex-direction: row;
    }

    .shipping-order-history-wrapper {
        border-left: 1px solid rgba(0, 0, 0, 0.09);
        padding-left: 12px;
    }

    .order-details-timeline .stepper {
        display: flex;
    }

    .quickView-content .product-title {
        margin-top: 0;
    }

    .phone-banner-slider {
        display: none;
    }

    .desktop-banner-slider {
        display: block;
    }

    .voucher-detail-left p {
        font-size: 13px;
        color: #000;
    }

    #save-voucher-component-wrapper {
        width: fit-content;
        right: 0;
        bottom: 0;
        max-height: 80vh;
        width: 450px;
    }

    .voucher-container {
        height: 120px;
        box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, .07);
        border-radius: 5px;
    }

    .toolbox-center {
        width: auto;
        min-width: 300px;
    }

    .white-popup {
        width: 950px;
    }

    .product-left {
        max-height: 600px;
    }

    .toolbox {
        padding: 0;
    }

    .phone-swap {
        display: flex;
        flex-direction: column-reverse;
    }
}

[data-f-id="pbf"] {
    display: none !important;
}

.loading-card {
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.loading-card .image img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.loading-card .content {
    padding: 20px 30px;
}

.loading-card.is-loading .image,
.loading-card.is-loading h2,
.loading-card.is-loading p {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
}

.loading-card.is-loading .image {
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.loading-card.is-loading h2 {
    height: 30px;
}

.loading-card.is-loading p {
    height: 70px;
}

.owl-carousel .owl-item .deal-products img {
    width: 100% !important;
    height: auto !important;
}

.product-card-image {
    position: absolute;
    height: 100%;
    max-width: none !important;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.deal-products {
    width: 300px;
    height: calc(300px * 5 / 3);
    position: relative;
    background-color: #fff;
    margin: auto;
}

.deal-products .product.product-7 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.deal-products .product.product-7 .product-media {
    height: 65%;
}

.drag-area {
    margin: 5px;
    height: 80px;
    width: 80px;
    border: 1px dashed red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.drag-area .icon svg {
    width: 20px;
    fill: red;
}

.drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support {
    font-size: 12px;
    color: red;
    margin: 5px 0 0px 0;
    line-height: 1.2rem;
}

.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #1683ff;
}

.drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-border-dash {
    border: 1px dashed rgb(190, 188, 188);
    background: none;
    font-size: 13px;
    transition: all 0.2s ease-in;
    line-height: 0.75rem;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn-border-dash:hover {
    border-color: 1px dashed #ee4d2d;
    background: #fff5f4;
}

.product-image-wrapper .image-wrapper {
    height: 120px !important;
    position: relative !important;
    overflow: hidden !important;
    margin-bottom: 3px;
}

.product-image-wrapper .image-wrapper img,
.product-image-wrapper .image-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.review-form .rating.js-wc-star-rating {
    flex-direction: row-reverse !important;
}

.review-form .rating .js-wc-label {
    font-size: 1.3rem;
    padding-left: 1rem;
    color: #FFC107;
    margin-bottom: 0 !important;
}

.review-form .rating .js-wc-rating-value {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .deal-products .product.product-7 .product-media a.product-image {
        height: 100% !important;
    }

    .review-form .rating {
        justify-content: left !important;
        margin-top: 1rem;
    }
}

@-webkit-keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
